body{
    background-color: #040F0F;
}
header{
    height: 175px;
}
.navbar{
    background-color: #77F9EE;
    
}

.EA{
    color: black;
}

.home{
    color: white;
}

.gif{
    margin-top: 75px;
}
.EA

.about{
    margin-top: 100px;
}
